html {
  font-family: helvetica;
}

h1 {
  -webkit-user-select: none;
  font-size: 16px;
  font-weight: 500;
}

h2 {
  -webkit-user-select: none;
  font-size: 22px;
  font-weight: 500;
  margin: 0;
  margin-top: 14px;
  margin-bottom: 8px;
}

body {
    margin: 0;
}

sub {
  font-size: 16px;
  font-weight: 200;
}

b {
  font-weight: 400;
  color: #f442e5;
}
